@import "bootstrap";
@import "font-awesome";

.navbar-default {
  background-color: #f01e22;

  .navbar-nav>li {
    font-size:18px;
  }

  .navbar-nav>li>a {
    color: #fff;
  }
}

.unstyled-link {
  color: #333333;
}

.box {
  border: 1px solid #eeeeee;
  box-shadow: 0 7px 6px -6px #777;
}

.grid-item {
	width: 48%;
	margin: 1%;
}

.btn {
  margin-bottom:10px;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.share-btn-twitter     { background: #55acee; }
.share-btn.share-btn-google-plus { background: #dd4b39; }
.share-btn.share-btn-facebook    { background: #3B5998; }
.share-btn.share-btn-linkedin    { background: #4875B4; }
.share-btn.share-btn-email       { background: #444444; }

a[href$=".pdf"] {
  background: #f01e22;
}
a[href$=".pdf"]:hover {
  background: #f01e22;
}

.highlight {
  background-color: rgba(240, 173, 78, 0.75);
  animation: pulsate 3s infinite ease-in-out;
}

@-webkit-keyframes pulsate {
    0% { background-color: rgba(240, 173, 78, 0.75);}
    50% { background-color: rgba(240, 173, 78, 0.0);}
    100% { background-color: rgba(240, 173, 78, 0.75);}
}